<p style="margin: 20px auto 10px auto;">
    Palestra
</p>
<table style="height: 110px; margin: 25px 0;">
    <tr>
        <td>
            1º Palestra
        </td>
        <td>
            Início<br />18:30
            Término<br />19:30
        </td>
        <td>
            Importância e Diversidade dos Insetos - Apresentação Raquel Santos Souza
        </td>
    </tr>
    <tr>
        <td>
            2º Palestra
        </td>
        <td>
            Início<br />19:30
            Término<br />20:30
        </td>
        <td>
            A Definir.
        </td>
    </tr>
</table>