<p style="margin: 20px auto 10px auto;">
    Palestra
</p>
<table style="height: 110px; margin: 25px 0;">
    <tr>
        <td>
            1º Palestra
        </td>
        <td>
            Início<br />18:30
            Término<br />19:30
        </td>
        <td>
            Anatomia da Madeira - Apresentação Warlen Costa
        </td>
    </tr>
    <tr>
        <td>
            2º Palestra
        </td>
        <td>
            Início<br />19:30
            Término<br />20:30
        </td>
        <td>
            Pontuações de Guarnecida: Pequenos detalhes que fazem grande diferença - Apresentação Warlen Costa
        </td>
    </tr>
</table>

@*<p>
    Apresentação oral de alunos<br />
    de inicação científica<br /><br />
    Início: 18:00<br />
    Término: 21:00<br />
    Obs.: 20 minutos para cada aluno com 5 minutos para<br />
    discussão.
</p>*@