<table style="height: 110px; margin: 45px 0;">
    <tr>
        <td>
            1º Palestra
        </td>
        <td>
            Início: 18:30
            Término: 19:30
        </td>
        <td>
            Importância e Diversidade dos Insetos - Apresentação Raquel Santos Souza
        </td>
    </tr>
    <tr>
        <td>
            2º Palestra
        </td>
        <td>
            Início: 19:30
            Término: 20:30
        </td>
        <td>
            A Definir.
        </td>
    </tr>
</table>