<p>
    Passeio Ecológico<br /><br />
    Horário: 09:00<br />
    Biólogo Responsável: Fellipe Labeta<br />
    Local: Trilha da Urca (Trilha Leve)<br />
    Ponto de encontro: Mc Donald's Central do Brasil<br /><br />

    Aviso:<br />
    Trilha classificada como leve. Os interessados em fazer a trilha devem trajar obrigatoriamente roupas leves e tênis para caminhada, levar apenas o necessario como água, comidas leves, repelentes e protetor solar.
</p>