@{
    ViewBag.Title = "1º Semana Acadêmica da Biologia no CEDERJ de Duque de Caxias - Home Page";
    
    @*if (TempData["notice"] != null)
	{
		 <p>@TempData["notice"]</p>
	}*@
}

    <script type="text/javascript">
        var temp = @TempData["notice"];
        if (temp) {
            alert("Insscrições encerradas. Aguarde o próximo evento.");
        };
    </script>

<h2 style="padding: 25px 0 0 50px; font-size: 20px;">Sejam bem vindos ao 1º SAB do CEDERJ!!!</h2><br />

<p style="padding: 0 50px; text-align: justify; font-size: 14px; line-height: 200%;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Tá bom, vai dizer que você não sabe o que é o SAB?! Não tem problema eu explico.<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    SAB é a 1º Semana Acadêmica da Biologia do Cederj Duque de Caxias. Uma semana repleta de atividades que vão lhe ajudar muito nessa caminhada rumo a graduação, para 
    maiores detalhes acesse no menu acima os links <b>Sobre o Evento</b> e <b>Cronograma de Palestras</b> para ficar por dentro de nossa programação.
    O SAB será realizado no polo do CEDERJ de Duque de Caxias na rua Marechal Floriano 555, Jardim 25 de Agosto, atrás do Carrefuor. 
    <a href="https://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=R.+Mal.+Floriano,+555+-+Jardim+Vinte+e+Cinco+de+Agosto&amp;sll=-22.066781,-42.923704&amp;sspn=3.558073,6.696167&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Mal.+Floriano,+555+-+Jardim+Vinte+e+Cinco+de+Agosto,+Duque+de+Caxias+-+Rio+de+Janeiro,+25075-025&amp;ll=-22.790188,-43.303642&amp;spn=0.027695,0.036478&amp;z=14" target="_blank" style="color:#0000FF;text-align:left">Clique aqui e veja no Goole Maps!</a>
</p>