@model Core.Model.Inscricao

@{
    ViewBag.Title = "1º Semana Acadêmica da Biologia no CEDERJ de Duque de Caxias - Página de inscrição";
}

<link href="@Url.Content("~/Content/jQueryUI/jquery-ui-1.8.18.custom.css")" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/confirmarDadosInscricao.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ($("#tipoInsccricao").val() == "Ouvinte") {
            $("#ApresentacaoOralOuPoster").hide();
        }
        else {
            $("#ApresentacaoOralOuPoster").show();
        }

        $("#tipoInsccricao").change(function () {
            if ($(this).val() == "Ouvinte") {
                $("#ApresentacaoOralOuPoster").hide();
            }
            else {
                $("#ApresentacaoOralOuPoster").show();
            }
        });

        $("#signIn").click(function () {
            if ($("#tipoInsccricao").val() !== "Ouvinte") {
                window.alert("Não se esqueça de enviar o resumo!! :P");
                return true;
            }
        });
    });
</script>

@using (Html.BeginForm("Index", "Inscricao", FormMethod.Post, new {  enctype = "multipart/form-data", id = "formularioInscricao", name = "formularioInscricao" }))
{
    @Html.ValidationSummary(true)

    <p>
        Todos os campos abaixo são obrigatórios.
    </p>
    
    @Html.Partial("_CreateOrEdit", Model)
    
    <p>
        <input id="signIn" type="submit" value="Ok" title="Ok" style="margin: 20px 470px 0 0;" />
    </p>
}

<div id="confirmarDados" title="Tela de confirmação">
    <p style="color: #073F5A;">Por favor confirme seus dados abaixo.</p>

    <table style="float: left; width: 300px">
        <tr>
            <td style="padding: 0 10px 5px 0; color: #073F5A; font-weight: bold;">
                Tipo Inscrição:
            </td>
            <td style="color: #289B33;">
                <span id="confirmaTipoInscricao" />
            </td>
        </tr>
        <tr>
            <td style="padding: 0 10px 5px 0; color: #073F5A; font-weight: bold;">
                Nome:
            </td>
            <td style="color: #289B33;">
                <span id="confirmaNome" />
            </td>
        </tr>
        <tr>
            <td style="padding: 0 10px 5px 0; color: #073F5A; font-weight: bold;">
                Instituição:
            </td>
            <td style="color: #289B33;">
                <span id="confirmaInstituição" />
            </td>
        </tr>
        <tr>
            <td style="padding: 0 10px 5px 0; color: #073F5A; font-weight: bold;">
                E-mail:
            </td>
            <td style="color: #289B33;">
                <span id="confirmaEmail" />
            </td>
        </tr>
        <tr>
            <td style="padding: 0 10px 5px 0; color: #073F5A; font-weight: bold;">
                Telefone:
            </td>
            <td style="color: #289B33;">
                <span id="confirmaTelefone" />
            </td>
        </tr>
        <tr>
            <td style="padding: 0 10px 5px 0; color: #073F5A; font-weight: bold;">
                Curso:
            </td>
            <td style="color: #289B33;">
                <span id="confirmaCurso" />
            </td>
        </tr>
    </table>
</div>
<div style="height: 400px;"></div>