@{
    ViewBag.Title = "1º Semana Acadêmica da Biologia no CEDERJ de Duque de Caxias - Confirmação de inscrição";
}

<div style="margin: 30px auto 0 auto; width: 580px;">
    <table style="border: 0 solid #FFFFFF; width: 560px;">
        <tr>
            <td>
                <img alt="Ok" src="@Url.Content("~/Content/images/Ok.png")" style="height: 100px; width: 100px;" />
            </td>
            <td>
                <h2 style="margin: 0 0 0 10px;">Parabéns sua inscrição foi realizada com sucesso!</h2>
            </td>
        </tr>
        <tr style="text-align: center;">
            <td colspan="2">
                @Html.ActionLink("Fazer outra inscrição", "Index", "Inscricao")
            </td>
        </tr>
    </table>
</div>