@{
    ViewBag.Title = "1º Semana Acadêmica da Biologia no CEDERJ de Duque de Caxias - Sobre Evento";
}

<h2 style="padding: 25px 0 0 50px; font-size: 20px;"><img alt="Error" src="@Url.Content("~/Content/images/blue_arrow.png")" style="width: 2%; height: 2%; margin-right: 5px;" />Que evento é esse?</h2><br />

<p style="padding: 0 50px; text-align: justify; font-size: 14px; line-height: 200%;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    A I Semana da Biologia do CEDERJ é um evento desenvolvido por alunos da licenciatura 
    de ciências biológicas do polo de Duque de Caxias e do tutor coordenador da biologia, 
    destinado a proporcionar espaços de discussão e troca de conhecimento entre estudantes 
    da área das Ciências Biológicas, de qualquer instituição de ensino através de palestras, 
    mini-cursos e outras atividades que é de grande valor para a formação dos futuros biólogos. 
    Temos como objetivo trazer algumas áreas de atuação do biólogo e proporcionar a relação 
    direta entre estudantes e especialistas assim como a interação dos estudantes que já 
    possuem esperiência em alguma área de atuação.
    A semana irá ocorrer nos dias 16 a 21 de outubro e irá abordar alguns dos temas mais atuais 
    e importantes para a formação acadêmica.
</p><br />

<h2 style="padding: 25px 0 0 50px; font-size: 20px;"><img alt="Error" src="@Url.Content("~/Content/images/blue_arrow.png")" style="width: 2%; height: 2%; margin-right: 5px;" />Comissão Organizadora</h2><br />

<ul style="padding: 0 70px; text-align: justify; font-size: 14px; line-height: 200%;">
    <li><b>Tutor Coordenador:</b> Leonardo Lima</li>
    <li><b>Biólogo Responsável:</b> Fellipe Labeta</li>
    <li><b>Responsável Técnico:</b> Diogo de Lima Gama da Silva</li>
    <li><b>Organizadores:</b> &nbsp;Ingrid Valadares Carmona<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;Maiara do Valle Faria<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;Thabatta de Almeida G. da Silva<br />
    </li>
</ul><br />

<h2 style="padding: 25px 0 0 50px; font-size: 20px;"><img alt="Error" src="@Url.Content("~/Content/images/blue_arrow.png")" style="width: 2%; height: 2%; margin-right: 5px;" />Local do Evento</h2><br />

<p style="padding: 0 50px; text-align: justify; font-size: 14px; line-height: 200%;">
    Polo CEDERJ<br />
    Rua Marechal Floriano 555, Jardim 25 de Agosto, Duque de Caxias, RJ<br />
    Tel.: (21) 2653-3963<br />
    <a href="https://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=R.+Mal.+Floriano,+555+-+Jardim+Vinte+e+Cinco+de+Agosto&amp;sll=-22.066781,-42.923704&amp;sspn=3.558073,6.696167&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Mal.+Floriano,+555+-+Jardim+Vinte+e+Cinco+de+Agosto,+Duque+de+Caxias+-+Rio+de+Janeiro,+25075-025&amp;ll=-22.790188,-43.303642&amp;spn=0.027695,0.036478&amp;z=14" target="_blank" style="color:#0000FF;text-align:left">Clique aqui e veja no Goole Maps!</a>
</p>
<div style="height: 50px;"></div>